body {
  background-color: black;
}
table,
td,
th {
  border: solid 1px #e1e1e1;
  border-collapse: separate;
}
.project {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
